# Ignore wordpress files
wordpress/*

# Ignore plugin files
plugins/hello.php
plugins/index.php
plugins/akismet

# Ignore theme files
themes/index.php
themes/twentytwentyone
themes/twentytwentytwo
themes/twentytwentythree

# Keep .gitkeep files
!**/*/.gitkeep